@{
    ViewData["Title"] = "Edit";
}


@model coursework_itransition.Models.Composition

@if(Model == null)
{
    <h2>Something went wrong :(</h2>
    <a href='javascript:history.go(-1)' type="button" class="btn btn-primary">Back</a>
    <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary">Home</a>
}
else
{
    <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-9">
            <form asp-controller="Composition" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Title" class="form-control" required>
                </div>
                <div class="form-group">
                    <select asp-for="Genre" class="form-control" required>
                        <option>Fiction</option>
                        <option>Novel</option>
                        <option>Prose</option>
                        <option>Drama</option>
                        <option>Mystery</option>
                        <option>Horror</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="Summary" class="form-control" rows="10"></textarea>
                </div>

                <div class="table-responsive table-hover">
                    <table class="table">
                        @foreach(var chapter in Model.Chapters)
                        {
                            <tr>
                                <td>
                                    @chapter.Title
                                </td>
                                <td>
                                    <a asp-controller="Chapter" asp-action="Edit" asp-route-id="@chapter.ID" asp-route-returnUrl="@Url.ActionLink()" type="button" class="btn btn-secondary">
                                        <i class="fa fa-edit"></i>
                                    </a> 
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="form-group" align="center">
                    <a class="btn btn-secondary" type="button" asp-controller="Chapter" asp-action="New"
                            asp-route-compID="@ViewContext.RouteData.Values["id"]"
                            asp-route-returnUrl="@Url.ActionLink()">Add chapter</a>
                </div>

                <div class="form-group" align="center">
                    
                    <button  type="submit" class="mr-2 ml-2 btn btn-danger" form="form-delete">Delete</button>
                    <a href="javascript:history.go(-1)" type="button" class="mr-2 ml-2 btn btn-primary" onclick="return confirm('you sure? :)');">Cancel</a>
                    <input type="submit" value="Save" class="mr-2 ml-2 btn btn-success" 
                            asp-route-id="@ViewContext.RouteData.Values["id"]"
                            asp-route-returnUrl="@ViewContext.RouteData.Values["returnUrl"]">
                </div>
            </form>
        </div>
    </div>

<form  id="form-delete" asp-controller="Composition" asp-action="DeleteComp"
                            asp-route-id="@ViewContext.RouteData.Values["id"]"
                            asp-route-returnUrl="@ViewContext.RouteData.Values["returnUrl"]">
                    </form>
}