@{ ViewData["Title"] = Model.Title; }

@inject Microsoft.AspNetCore.Identity.SignInManager<Identity.Models.ApplicationUser> SignInManager
@model coursework_itransition.Models.Composition

<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&display=swap" rel="stylesheet">


<div id="comp-id-holder" hidden>@Model.ID</div>

<div class="container" style = "word-wrap:break-word;">
    <div class="row">
        <div class="col">
            <div class="text-muted">Author: @Model.Author.Name</div>
            <div class="text-muted">Created: @Model.CreationDT</div>
            <div class="text-muted">Last edit: @Model.LastEditDT</div>
        </div>
        @if(coursework_itransition.AccessControl.UserHasAccess(this.User, Model))
        {
            <div class="col-auto align-self-center">
                <a asp-controller="Composition" asp-action="Edit" asp-route-id="@Model.ID">
                    Edit
                </a><br>
                <a href="@Context.Request.Headers["Referer"].ToString()">
                    Back
                </a>
            </div>
        }
    </div>
    
    <p class="display-4 text-center" style="font-family: Big Shoulders Stencil Text;">@Model.Title</p>
    <p class="text-center">@Model.Genre</p>

    <h4 class="text-center">Summary</h4>
    <p>@Model.Summary</p>

    @{
        var sortedChapters = Model.Chapters.ToList();
        sortedChapters.Sort((c1,c2)=> c1.Order.CompareTo(c2.Order));
    }

    <h4 class="text-center">Contents</h4>
    <ol>
        @foreach (var chapter in sortedChapters)
        {
            <li>
            <a href="#@chapter.ID">@chapter.Title</a>
            </li>
        }
    </ol>

    @foreach (var chapter in sortedChapters)
    {
        <hr style="border-top: 3px solid rgba(128, 128, 128, 0.25);">
        <p id="@chapter.ID" class="h2 text-center" style="font-family: Big Shoulders Stencil Text;">@chapter.Title</p>
        <hr style="border-top: 3px solid rgba(128, 128, 128, 0.25);">
        <p class="chapter-contents">@chapter.Contents</p>
    }

    <div id="comments-section">
        <hr style="border-top: 3px solid rgba(128, 128, 128, 0.25);">
        <h4 class="text-center">Comments</h4>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="input-group mb-3">
                <textarea style="resize:none;" class="form-control" id="textarea-comment-text" placeholder="Write you comment..."></textarea>
                <div class="input-group-append">
                    <button class="btn btn-primary" id="btn-post-comment">Comment</button>
                </div>
            </div>
        }
        else
        {
            <p class="text-center mb-3"><a asp-area="Identity" asp-page="/Account/Login">Login</a> to leave comments</p>
        }
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="module" src="~/js/Composition/markdown.js"></script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/Composition/comments.js"></script>