@using static coursework_itransition.Utils;

@model coursework_itransition.Controllers.HomeController;

@{
    ViewData["Title"] = "Home Page";
}

<div class="p-2 text-center bg-light">     
    <h3 class="mb-2">
        Composition
    </h3>
</div>

<div class="container">
<div class="col-md-7">
    <div class="social-feed-separated">
        <div class="social-avatar">
            <a href="">
                <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            </a>
        </div>

        <div class="social-feed-box">
            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#">Config</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="#">
                    Andrew Williams
                </a>
                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive">
                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="table-responsive table-striped">
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>AuthorID</th>
                    <th>LastEditDT</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var composition in Model._context.Compositions)
            {
                <tr>
                    <td><p>@composition.Title</p></td>
                    <td><p>@composition.AuthorID</p></td>
                    <td><p>@composition.LastEditDT</p></td> 
                    <td>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#model-@composition.ID" >
                            <i class="fa fa-eye"></i>
                        </button>
                        @if(UserIsAuthor(User, composition))
                        {  
                            <a asp-controller="Composition" asp-action="Edit" asp-route-id="@composition.ID" asp-route-returnUrl="@Model.Url.ActionLink()" type="button" class="btn btn-dark">
                                <i class="fa fa-edit"></i>
                            </a>
                        }
                        <div class="modal fade" id="model-@composition.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">@composition.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                @composition.Summary
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
            }
        </table>    
</div>