@{
    ViewData["Title"] = "Admin";
}

@model coursework_itransition.Controllers.AdministratorController
@using Microsoft.EntityFrameworkCore

<div class="p-2 text-center bg-dark">     
    <h3 class="mb-2">
        Users
    </h3>
</div>
<div class="table-responsive table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var user in Model._context.Users.Include(comp=>comp.Compositions))
            {
                <tr>
                    <td><p>@user.Name</p></td>
                    <td><p>@user.Email</p></td>
                    <td> 
                        @if (user.LockoutEnabled)
                        {
                            <p>not ban</p>
                        }
                        else
                        {
                            <p>ban</p>
                        }
                    </td>
                    @if(await Model._userManager.IsInRoleAsync(user,"Administrator"))
                    {
                      <td>Yes</td>  
                    }
                    else
                    {
                      <td></td>
                    }
                    <td>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#model-@user.Id" >
                            <i class="fa fa-eye"></i>
                        </button>    
                        @* <div class="modal fade bd-example-modal-lg" id="model-@b.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">                              *@
                        <div class="modal fade" id="model-@user.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">@user.Name</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">EMAIL  : @user.Email</label> <br/>
                                      <label for="recipient-name" class="col-form-label">USER ID: @user.Id</label>
                                    </div>
                                    <div class="form-group">
                                      
                                      @if (user.LockoutEnabled)
                                      {
                                        <button type="button" class="btn btn-secondary">Ban</button>
                                      }
                                      else
                                      {
                                        <button type="button" class="btn btn-secondary">Unban</button>
                                      }
                                      @if(await Model._userManager.IsInRoleAsync(user,"Administrator"))
                                      {
                                        <button type="button" class="btn btn-secondary">Remove admin status</button>       
                                      }
                                      else
                                      {
                                        <button type="button" class="btn btn-secondary">Make admin</button>       
                                      }       
                                      <form  asp-controller="Administrator" asp-action="DeleteUser"
                                          asp-route-UserID="@ViewContext.RouteData.Values["user.Id"]">
                                          <button type="submit" class="btn btn-danger" >Delete user</button>       
                                      </form>
                                    </div>
                                    @if(user.Compositions.Count > 0)
                                    {
                                      <div class="p-2 text-center bg-dark">     
                                          <h3 class="mb-2">
                                              Composition
                                          </h3>
                                      </div>
                                      <table class="table">
                                          @foreach (var composition in user.Compositions)
                                          {
                                            <tr>
                                              <td>
                                                <div>@composition.Title</div>
                                              </td>
                                              <td>
                                                <button type="button" class="btn btn-secondary">
                                                  <i class="fa fa-eye"></i>
                                                </button>
                                              </td>
                                              <td>
                                                <a asp-controller="Composition" asp-action="Edit" asp-route-id="@composition.ID" asp-route-returnUrl="@Url.ActionLink()" type="button" class="btn btn-secondary">
                                                  <i class="fa fa-edit"></i>
                                                </a>
                                              </td>
                                            </tr>
                                          }
                                      </table>
                                    }
                                    else
                                    {
                                      <label for="message-text" class="col-form-label">No composition</label>
                                    }
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondarys" data-dismiss="modal">Close</button>
                                  @* <button type="button" class="btn btn-primary">Send message</button> *@
                                </div>
                              </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>    
</div>